/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #1c1c1c 50%, #d1bb91 50%);
    overflow: hidden;
    position: relative;
    flex-direction: column;
}



.centered-text-container {
    position: absolute;
    top:20px;
    padding-top: 10px;
    font-size: 6em;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(to right, #d1bb91 50%, #1c1c1c 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

.centered-subtext {
    position: absolute;
    top:150px;
    padding-top: 10px; 
    font-size: 4em;
    font-weight: bold;
    color: #ffffff;
    background: #ffffff;
    /*background: linear-gradient(to right, #d1bb91 50%, #1c1c1c 50%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

.centered-subtext2 {
    position: absolute;
    top:250px;
    padding-top: 10px; 
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(to right, #d1bb91 50%, #1c1c1c 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

.menu {
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 1000; 
    font-family: "Electrolize", sans-serif;
    font-weight: bold;
}


.menu-button {
    font-size: 2.5em;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    background-color: #1c1c1c;
    border-radius: 5px;
}
.dropdown {
    display: none;
    position: absolute;
    top: 100%; 
    background-color: #1c1c1c;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu:hover .dropdown {
    display: block;
}

.dropdown a {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}

.dropdown a:hover {
    background-color: #333;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-image-container {
    position: relative;
    max-width: 90%;
    max-height: 90%;
}

.modal-content {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: contain;
}


/*
.close-button {
    color: #000000;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 3.5em;
    cursor: pointer;
}
*/
.modal-content .accept-button,
.modal-content .decline-button {
    background-color: #d1bb91;
    color: #1c1c1c;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
}

.accept-button {
    right: 40px;
}

.decline-button {
    left: 40px;
}

.modal-content button:hover {
    background-color: #b8a17c;
}

.slider-background{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.slider-title {
    font-size: 4rem;
    margin-bottom: 20px; 
    font-weight: 600; 
}

.slider-container {
    margin-top: 5%;
    position: relative; 
    width: 100%; 
    max-width: 800px; 
    overflow: hidden; 
    border-radius: 10px; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); 
}

.slider {
    display: flex; 
    transition: transform 0.4s ease-in-out; 
}

.slide {
    min-width: 100%;          /* Ensures it takes up at least 80% of the parent container */
    max-width: 80%;         /* Prevents it from exceeding the full width of its container */
    height: auto;            /* Maintains aspect ratio automatically */
    aspect-ratio: 4 / 3;      /* Maintains a 4:3 aspect ratio */
    max-height: 90vh;        /* Optional: Sets maximum height as 90% of the viewport height */
    object-fit: cover;       /* Useful if it's an image or video to ensure it fits within the set dimensions */
    transition: transform 0.5s ease-in-out; 
}

.slide img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px; 
}

.prev, .next {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    border: none; 
    width: 40px; 
    height: 40px; 
    cursor: pointer; 
    z-index: 10; 
    border-radius: 50%; 
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 0; 
}

.prev {
    left: 10px; 
}

.next {
    right: 10px; 
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8); 
}

.dots-container {
    margin-top: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.dot {
    height: 15px; 
    width: 15px; 
    margin: 0 5px; 
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 50%; 
    display: inline-block; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.dot.active {
    background-color: rgba(255, 255, 255, 1);
}


/* Hero section styles */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

/* Video styles */
.hero-video {
    position: absolute;
    height: 10%;               /* Set the height as needed, e.g., 100% of the container */
    width: 10%;   /* Calculate width based on the 4:3 ratio */
    max-height: 55%;          /* Optional max height */
    max-width: 75%;
    top: 70%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-color: #1c1c1c;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Hero content styling */
.hero-content {
    position: relative;
    top: -15%;
    z-index: 1;
}

.hero-content h1 {
    font-size: 3em;
    margin: 0;
}

.hero-content p {
    font-size: 1.5em;
    margin-top: 10px;
}

.cta-button {
    margin-top: 20px;
    padding: 40px 80px;
    font-size: 2em;
    background-color: #ff7f50;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid white;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ff6347;
}


#main-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the top */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px; /* Space between sections */
}

#leaderboard {
    flex: 1;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.leaderboard-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #e0e0e0;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 10px;
}

#upload-section {
    flex: 1;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#leaderboard-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.leaderboard-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.leaderboard-item p {
    margin: 0 10px;
    font-size: 1em;
    color: #333;
}

.leaderboard-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 1em;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="file"] {
    font-size: 1em;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.upload-button {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #ff7f50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #ff6347;
}

.about-container {
    display: flex;
    max-width: 800px;
    margin-top: 5%;
    background-color: #b0935d;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #333;
    align-items: stretch; /* Allow sections to expand based on content */
    
}

.text-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content at the top */
    align-items: flex-start; /* Optional: aligns text to the left within the container */
}
.text-section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.text-section p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.contact-button {
    background-color: #333;
    color: #fff;
    padding: 20px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-top: auto; /* Pushes the button to the bottom of the container */
}

.contact-button:hover {
    background-color: #555;
}

.image-section {
    flex: 1;
    margin-top: 5%;
    max-width: 50%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.image-section img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #333;
    margin-bottom: 20px;
    transform: translateX(-20px); /* Offset the image 20px to the left */
}

.logo {
    position: absolute;
    top: 20px;         /* Adjust spacing from the top */
    right: 20px;       /* Adjust spacing from the right */
    width: 100px;       /* Set width as needed */
    height: auto;      /* Maintain aspect ratio */
    
    animation: fillUp 8s forwards, fadeIn 8s forwards;
}

@keyframes fillUp {
    0% {
        fill: transparent;
    }
    100% {
        fill: #000000; 
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
