<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Find your inspiration | Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/fish.png') }}" type="image/png">


</head>
<body>
    <div class="menu">
        <span class="menu-button">Menu</span>
        <div class="dropdown">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('encryption') }}">Images</a>
            <a href="{{ url_for('decryption') }}">Leaderboard</a>
            <a href="{{ url_for('map')}}">Pins for map</a>
            <a href="{{ url_for('about_me') }}">About Me</a>
        </div> 
    </div>
    <!-- Main content block for child templates -->
    {% block content %}{% endblock %}

    <!-- Optional script block for child templates to add JavaScript -->
    {% block scripts %}{% endblock %}
</body>
</html>
