<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="centered-text-container">Welcome to RSA Encryption</div>

    <div class="menu">
        <span class="menu-button">Menu</span>
        <div class="dropdown">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('encryption') }}">RSA Encryption</a>
            <a href="{{ url_for('decryption') }}">RSA Decryption</a>
            <a href="{{ url_for('about_me') }}">About Me</a>
        </div> 
    </div>
    <!-- Main content block for child templates -->
    {% block content %}{% endblock %}

    <!-- Optional script block for child templates to add JavaScript -->
    {% block scripts %}{% endblock %}
</body>
</html>
