{% extends 'base.html' %}
{% block content %}
<title>{% block title %}Find your inspiration | Fishing Leaderboard{% endblock %}</title>

<div class="centered-text-container">Fishing Leaderboard</div>

<div class="content-container">
  <div id="leaderboard">
      <div class="leaderboard-header">
        <span>Name</span>
        <span>Length</span>
        <span>Species</span>
        <span>Location</span>
        <span>Image</span>
    </div>
      <ul id="leaderboard-list">
          <!-- Leaderboard items go here -->
      </ul>
  </div>
  <div id="upload-section">
      <h3>Upload Your Catch</h3>
      <form id="uploadForm" enctype="multipart/form-data">
          <div class="form-row">
              <div class="form-group">
                  <label for="name">My Name:</label>
                  <input type="text" id="name" name="name" required placeholder="Enter your name">
              </div>
              <div class="form-group">
                  <label for="length">Length in cm:</label>
                  <input type="text" id="length" name="length" required placeholder="Enter your length">
              </div>
          </div>
          <div class="form-row">
              <div class="form-group">
                  <label for="species">Species of Fish:</label>
                  <input type="text" id="species" name="species" required placeholder="Enter species of fish">
              </div>
          <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required placeholder="Enter location">
        </div>
              <div class="form-group">
                  <label for="photo">Choose a photo to upload:</label>
                  <input type="file" id="photo" name="photo" accept="image/*" required>
              </div>
          </div>
          <button type="submit" class="upload-button">Upload Photo</button>
      </form>
  </div>
</div>


<!--<div id="imageModal" class="modal" onclick="closeModal(event)">
  <div class="modal-image-container">
      <span class="close-button" onclick="closeModal()">&times;</span>asd
      <img class="modal-content" id="enlargedImage">
  </div>
</div>
-->
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

{% endblock %}