<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSA Encryption Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"></head>
<body>
    <h1>RSA Encryption Application1</h1>

    <h2>Generate RSA Keys</h2>
    <form action="{{ url_for('generate_rsa_keys') }}" method="post">
        <label>Prime p:</label>
        <input type="number" name="p" required>
        <label>Prime q:</label>
        <input type="number" name="q" required>
        <button type="submit">Generate Keys</button>
    </form>

    {% if public_key and private_key %}
    <h3>Public Key: {{ public_key }}</h3>
    <h3>Private Key: {{ private_key }}</h3>
    {% endif %}

    <h2>Encrypt a Message</h2>
    <form action="{{ url_for('encrypt') }}" method="post">
        <label>Message:</label>
        <input type="text" name="message" required>
        <button type="submit">Encrypt</button>
    </form>

    <h2>Decrypt a Message</h2>
    <form action="{{ url_for('decrypt') }}" method="post">
        <label>Encrypted Message:</label>
        <input type="text" name="encrypted_message" required>
        <button type="submit">Decrypt</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
</body>
</html>
