{% extends 'base.html' %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Track User Activity</title>
  <script>
      let startTime = Date.now();

      window.addEventListener("beforeunload", function() {
          let timeSpent = Math.round((Date.now() - startTime) / 1000);  // Time spent in seconds
          let page = window.location.pathname;
          
          fetch("/log_activity", {
              method: "POST",
              headers: {
                  "Content-Type": "application/json"
              },
              body: JSON.stringify({ page: page, time_spent: timeSpent })
          });
      });
  </script>
</head>
<body>
<div class="left-section"></div>
<div class="right-section"></div>
<div class="centered-text-container">Welcome to RSA Encryption</div>
<div class="centered-subtext">Secure your messages with powerful encryption.</div>
<div class="image-container">
    <img src="{{ url_for('static', filename='images/parcels.png') }}" alt="RSA encryption illustration">
</div>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>


{% endblock %}