{% extends 'base.html' %}

<title>{% block title %}Find your inspiration | Catch Your Next Adventure{% endblock %}</title>

{% block content %}
<!--
<div class="slideshow-container">
    <div class="image fade show">
        <img src="{{ url_for('static', filename='images/1.jpg') }}" alt="Image 1">
    </div>
    <div class="image fade">
        <img src="{{ url_for('static', filename='images/2.jpg') }}" alt="Image 2">
    </div>
    <div class="image fade">
        <img src="{{ url_for('static', filename='images/3.jpg') }}" alt="Image 3">
    </div>
    <button class="prev">&#10094;</button>
    <button class="next">&#10095;</button>

    <button class="prev" onclick=changeSlide(-1)>&#10094;</button>cd
    <button class="next" onclick="changeSlide(1)">&#10095;</button>
</div>-->
<div class="centered-text-container">Find your inspiration</div>
<div class="centered-subtext">Catch Your Next Adventure</div>
<div class="centered-subtext2">Explore the best fishing spots in Sweden</div>
    <video autoplay loop muted playsinline class="hero-video">
        <source src="{{ url_for('static', filename='images/video.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>


<div id="popupModal" class="modal">
    <div class="modal-content">
        <h2>Setup for cookies</h2>
        <p>RSA Encryption and our partners store information on your device to provide customized functionality, collect visitor statistics, and enable personalized marketing. You choose which types of cookies you accept in addition to the necessary ones required for the website to function.</p>
        <button class="accept-button" onclick="acceptAll()">Accept All</button>
        <button class="decline-button" onclick="declineAll()">Decline All</button>
    </div>
</div>



{% endblock %}

{% block scripts %}
<script>
    let startTime = Date.now();
    window.addEventListener("beforeunload", function() {
        let timeSpent = Math.round((Date.now() - startTime) / 1000);
        let page = window.location.pathname;
        fetch("/log_activity", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ page: page, time_spent: timeSpent })
        });
    });
</script>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}
